---
layout: default
---
<main id="content" class="bg-grey-lightest">
    <div class="section section-posts bg-grey-lightest">
        <div class="container container-md">

        <!-- Start of FAQ -->
        <div class="heading mb-5">
            <h6 class="font-weight-bold grey-dark">Frequently Asked Questions</h6>
        </div>

        <div class="row">
            <div class="container ">
                <div class="panel-group" id="faqAccordion">
                    {% assign count = 0 %}
                    {% for list in site.data.faq.items %}
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question{{count}}">
                             <h4 class="panel-title font-size-medium">
                                <a href="#" class="ing">Q: {{list.q}}</a>
                          </h4>

                        </div>
                        <div id="question{{count}}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                 <h5><span class="label label-primary">Answer</span></h5>

                                <p class="font-size-medium">{{list.a}}</p>
                            </div>
                        </div>
                    </div>
                    {% assign count = count | plus: 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End of FAQ -->

		<div class="heading my-5">
			<h6 class="font-weight-bold grey-dark">Stories</h6>
			<p class="grey-dark">Read how to care for your teeth, plus view our recent updates.</p>
		</div>


            <div class="row">
            	{% for post in site.posts %}
                <div class="col-lg-6">
                	<a href="{{ post.url | relative_url }}" class="post d-block mb-3 mb-lg-5 pb-lg-4">
                        <div class="row align-items-center">
                            <div class="col-4 col-lg-12"> <img class="lazyload object-fit" data-src="{{ "/img/" | relative_url }}{{ post.image }}" alt="image" class="img-fluid"></div>
                            <div class="col-8 col-lg-12">
                                <div class="excerpt bg-white px-0 px-lg-4 position-relative">
                                    <p class="date font-weight-bold smaller">{{ post.date | date_to_string: "ordinal", "US" }}</p>
                                    <span class="btn btn-sm btn-white orange text-uppercase mb-3">Member story</span>
                                    <div class="balance-elements" style="height: 105px;">
                                        <h6 class="font-weight-bold grey-dark post-title">{{ post.title }}</h6>
                                        <p class="tags">{{ post.tags }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            	{% endfor %}
            </div>
        </div>
    </div>
</main>
<!-- End Stories section -->
