---
layout: default
page_title: Frequently Asked Questions
---
<!-- Start of FAQ -->
<main id="content" class="bg-grey-lightest">
    <div class="section section-posts bg-grey-lightest">
        <div class="container container-md">

        <div class="heading mb-5">
            <h6 class="font-weight-bold grey-dark">Frequently Asked Questions</h6>
        </div>

        <div class="row">
            <div class="container ">
                <div class="panel-group" id="faqAccordion">
                    {% assign count = 0 %}
                    {% for list in site.data.faq.items %}
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question{{count}}">
                             <h4 class="panel-title font-size-medium">
                                <a href="#" class="ing">Q: {{list.q}}</a>
                          </h4>

                        </div>
                        <div id="question{{count}}" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                 <h5><span class="label label-primary">Answer</span></h5>

                                <p class="font-size-medium">{{list.a}}</p>
                            </div>
                        </div>
                    </div>
                    {% assign count = count | plus: 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
    </div>
</main>
<!-- End of FAQ -->

<!-- Start of FAQ  JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {% for list in site.data.faq.items %}
  {
    "@type": "Question",
    "name": "{{list.q}}",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{list.a}}"
    }
  }{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
}
</script>
<!-- End of FAQ  JSON-LD -->