<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>{{ site.title }}{% if page.page_title %} - {{ page.page_title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <script src="{{ "/js/lazysizes.min.js" | relative_url }}" async=""></script>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <meta name="google-site-verification" content="ZrkX9oae9Z95Ndzuqb_5R7LCgqHzcAYbFZC3OcLCkgE" />

    <!-- Stylesheet -->
    <style type="text/css">.no-fouc {display: none;}</style>
    <script type="text/javascript">document.documentElement.className = 'no-fouc';</script>
    <link rel="preload" href="{{ "/css/CenturyGothic.woff2" | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{"svg/min/logo.svg" | relative_url}}" as="image" type="image/svg+xml" >
    <link rel="preload" href="{{"svg/min/hamburger.svg" | relative_url}}" as="image" type="image/svg+xml" >
    <link rel="preload" href="{{"svg/min/close.svg" | relative_url}}" as="image" type="image/svg+xml" >
    <style>
    {% include criticalplus.css %}
    </style>
    <link rel="stylesheet" href="{{ "/css/main.css?cb=1594385179471" | relative_url }}" media="print" onload="this.media='all'; this.onload=null;">
    <!-- <link rel="preload" href="{{ "/css/main.css?cb=1574128696279" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.png" | relative_url }}">
    {% if page.name == 'contact.html' %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
    <!-- Prevent google map to call google font -->
    <script>var head=document.getElementsByTagName("head")[0],insertBefore=head.insertBefore;head.insertBefore=function(e,o){e.href&&e.href.indexOf("//fonts.googleapis.com/css?family=Roboto")>-1?console.info("Prevented Roboto from loading!"):insertBefore.call(head,e,o)};
    </script>
    {% include fb-pixel.html %}

</head>
