<!-- Start Radial Action Button -->
<div class="radial">

  <a class="" href="tel:94396517">
    <div class="fa fa-phone fa-3x" id="fa-phone"></div>
  </a>

  <a href="https://www.google.com/maps/search/?api=1&query=-37.715589, 145.150247&query_place_id=ChIJ612Kv8831moRNZVjYeTVsGc">
    <div class="fa fa-map-marker fa-3x" id="fa-marker"></div>
  </a>

  <a href="{{"/booking" | relative_url}}">
    <div class="fa fa-calendar fa-3x" id="fa-calendar"></div>
  </a>

  <button class="fab disable-focus">
    <div class="fa fa-plus fa-3x" id="plus"></div>
  </button>
</div>
<!-- End Radial Action Button -->