$floating-btn: #3dadb2;
$main-color: #3dadb2;

.disable-focus:focus {
  outline: 0;
}

.radial {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  // background: $floating-btn;
  background: transparent;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  // box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 20;
}

.fab {
  border: none;
  color: white;
  background-color: darken($floating-btn, 8);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: darken($floating-btn, 15);
  }
}

#plus {
  transition: all 0.2s ease-in-out;
  margin-top: 7px;
}

#fa-phone, #fa-marker, #fa-calendar {
  position: fixed;
  background: transparent;
  border: none;
  right: 38px;
  bottom: 36px;
  transition: all 0.15s ease-in-out;
  color: white;

  &:hover {
   tansition-delay: 0s;
   color: lighten($floating-btn, 15);
  }
}

.radial {
  &.open {
    height: 300px;
    width: 300px;
    right: -95px;
    bottom: -95px;
    background-color: darken($main-color, 3);

    .fab {
      background-color: darken($floating-btn, 15);
      box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
    }

    #plus {
      transform: rotateZ(135deg) translate(-1px, 3px);
    }
    #fa-phone {
      transition-delay: 0.1s;
      transform: translate(-100px, 0px);
    }
    #fa-marker {
      transition-delay: 0.1s;
      transform: translate(-75px, -65px);
    }
    #fa-calendar {
      transition-delay: 0.1s;
      transform: translate(-0px, -95px);
    }
  }
}



